<p id="notice"><%= notice %></p>

<h1>Tu Carro</h1>

<ul>
<% @carro.carro_lineas.each do |carro_linea| %>

<li><%= carro_linea.product.titulo %> - <%= link_to 'Borrar', carro_linea, method: :delete, data: { confirm: 'Are you sure?' } %></li>

<% end %>

</ul>

<%= link_to 'Volver', tienda_url %>

<%= button_to "Comprar", new_pedido_path, method: :get %>
