<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.titulo') %></h1>

<div id="enlace_carro">
<%= render @carro %>
</div>

<% @productos.each do |producto| %>
	<div class="producto">
		<%= image_tag producto.imagen_url, height: 200 %>
		<h3><%= producto.titulo %></h3>
		<%= sanitize(producto.descripcion) %>
		<div class="precio">
			<%= sprintf("%0.02f",producto.precio) + '€' %>
		</div>
		<%= button_to 'Añadir al carro', carro_lineas_path(product_id: producto), remote: true %>
	</div>
<% end %>
