<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Mi tienda</h1>

<div>
<% if @carro.carro_lineas.empty? %>
	<p>No hay lineas en su carro.</p>
<% else %>
	<%= link_to "#{@carro.carro_lineas.length} productos en su carro", @carro %>
<% end %>
</div>

<% @productos.each do |producto| %>
	<div class="producto">
		<%= image_tag producto.imagen_url, height: 200 %>
		<h3><%= producto.titulo %></h3>
		<%= sanitize(producto.descripcion) %>
		<div class="precio">
			<%= sprintf("%0.02f",producto.precio) + '€' %>
		</div>
		<%= button_to 'Añadir al carro', carro_lineas_path(product_id: producto) %>
	</div>
<% end %>
